/* src/components/Dashboard/Dashboard.css */
.dashboard-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header-section {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .logo-section {
    flex-shrink: 0;
  }
  
  .dashboard-college-logo {
    width: 100px;
    height: auto;

  }
  
  .info-section {
    flex-grow: 1;
  }
  
  .emp-details {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0px;
  }
  
  .exam-info {
    background-color: #e5e2a5;
    padding: 15px;
    border-radius: 5px;
    height: 100px;
  }
  
  .download-section {
    text-align: center;
    margin-top: 30px;
  }
  
  .download-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }